
<style type="text/css">
/*  Media queries widget */ 
@media only screen and (max-width : 320px) { 
 iframe{
   min-height: 900px;
 }
}
@media only screen and (min-width : 321px) and (max-width : 516px){
 iframe{
   min-height: 750px;  
 }
}
@media only screen and (min-width : 517px) { 
 iframe{
   min-height: 670px; 
 }
}   
</style>
